Flask==3.0.3
Flask_Cors==4.0.0
Flask_SocketIO==5.4.1
google_cloud_aiplatform==1.69.0
protobuf==5.28.2
PyJWT==2.9.0
PyMySQL==1.1.1
python-dotenv==1.0.1
python_ldap==3.2.0
SQLAlchemy==2.0.35
validator_collection==1.5.0