<!DOCTYPE html>
<html>
<head>
    <title>Auto Submit Form</title>
</head>
<body>
    <a href="/sso/list_users">List Users</a><br>
    <br>
    <a href="/v1/ticket/modify">View Tickets</a><br>
    <a href="/v1/ticket/create">Create Ticket</a><br>
    <a href="/v1/ticket/modify">Modify Ticket</a><br>
  <!--- <a href="/v1/vision">Evaluate Image</a><br> -->
  <br>
    <a href="text">Chatbot</a><br>
    <a href="text/enhance_text">Enhance Text</a><br>
    <a href="text/fill_ticket">Auto Fill Ticket</a><br>
    
    <br>
    Login:
    <form action="/sso/auth" method="post" id="login-form">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" required><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Submit">
    </form>
    <br>
    <button id="authenticate">Just Authenticate</button><br>

    <script>
        const email = "admin";
        const password = "admin";

        document.getElementById('authenticate').addEventListener('click', function(event) {
            event.preventDefault();
            document.getElementById('email').value = email;
            document.getElementById('password').value = password;
            document.getElementById('login-form').submit();
        });
    </script>
</body>
</html>