@import './base.css';

#app {
}
*{
        
}
html{
    height: 100vh;
}
body{
    /* height: auto;
    padding: 0;
    margin: 0;
    font-family: 'wl3';
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    color: #141317; */
    overflow-x: hidden;
}
.nulllfont {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
  }

.srcode {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}